* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2;
  font-family: sans-serif;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
}

img {
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 10px;
}

.price {
  font-size: large;
  margin-bottom: 5px;
}

.shipping {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  color: gray;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.details {
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  margin-top: 20px;
}

ul {
  margin-left: 10px;
}

li {
  list-style-type: square;
  margin: 10px;
}

button {
  width: 825px;
  border: none;
  padding: 10px;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: white;
}

button:hover {
  background: transparent;
  color: black;
  border: none;
}
